@media screen and (prefers-color-scheme: light) {
body {  
  background-color: white;
  color: black;  
}
  
.dark-mode {
  background-color: #22223B;
  color: white;
}

}

.smooth-transition {
	transition: background-color 300ms;
}

@media screen and (prefers-color-scheme: dark) {
.dark-mode {
  background-color: #22223B;
  color: white;
}
body {  
  background-color: black;
  color: white;  
}
}
